.wrapper {
    display: flex;
    justify-content: space-between;
}

.manga-item {
    width: 150px;
    transition: transform 0.5s ease-in-out;
}

.manga-img img {
    height: 200px;
    width: 150px;
}

.manga-name {
    color: var(--text-color);
    max-width: 80%;
}
