.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-color);
    width: 120px;
    height: 50px;
    font-weight: 600;
    font-size: 1.4rem;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    font-size: 1.6rem;
}

.wrapper + .wrapper {
    margin-left: 10px;
}

// size
.large {
    width: 100px;
    height: 40px;
}

// type
.light {
    background-color: var(--text-color);
    color: var(--background-color);

    &:hover {
        background-color: rgba($color: #000, $alpha: 0.6);
        color: var(--text-color);
        border: 0.2px solid var(--border-color);
    }
}

.solid {
    background-color: var(--background-color);

    &:hover {
        background-color: rgba($color: #e4d4d4, $alpha: 0.6);
        color: var(--background-color);
        border: 0.2px solid var(--background-color);
    }
}
