@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;500;600;700&family=Roboto&display=swap');

:root {
    --header-height: 80px;
    --text-color: #fff;
    --background-color: #000;
    --light-color: #e4cfcf;
    --border-color: #383839;
    --margin-left: 80px;
    --scrollbar-thumb-color: #383839;
    --scrollbar-thumb-hover-color: #272728;
    --scrollbar-track-color: #000;
    --chapter-list-color: #141414;
    --header-footer-reading-height: 60px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
    overflow-x: overlay;

    &::-webkit-scrollbar {
        width: 8px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: var(--scrollbar-thumb-color);
        border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb:hover {
        background-color: var(--scrollbar-thumb-hover-color);
    }

    &::-webkit-scrollbar-track {
        background-color: var(--scrollbar-track-color);
    }
}
