.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 800px;
    overflow-y: auto;
}

.page-chapter,
.page-chapter img {
    width: 800px;
}
