.wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #bbd2d3;
    background: linear-gradient(to right, #d9e6e6, #bbd2d3);
}
